.wrapper
  = render "header"

.main
  %table.word{border: 2}
    %tr
      %th{width: "130px"} 単語名
      %th 意味 
      %th.word__rare{width: "80px"} レア度
    - @random.each do |word|
      %tr
        %td 
          = word.name
        %td 
          = word.mean
        %td.word__rare  
          - if word.score <= 1
            N 
          - elsif 1 < word.score && 4 >= word.score 
            R
          - elsif 4 < word.score && 8 >= word.score
            SR 
          - elsif 8 < word.score && 10 >= word.score
            SSR
          - else
            LG

-#       = form_for [@user, @word] do |e|
    -#         = e.radio_button :score, :１
    -#         = e.label :score, "正解", {}
    -#         = e.radio_button :score, :０
    -#         = e.label :score, "不正解", {}
    -# = form_for [@user, @word] do |e|     
    -#   = e.submit '送信', class: 'form__submit'