// 変数の宣言
$header-height: 80px;

//ヘッダー
.header{
  overflow: scroll;
  height: $header-height;
  width: 100vw;
  background-color: #595959;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  //ヘッダー左のタイトル部分
  .title{
    font-family:"Yu Gothic", "游ゴシック", "YuGothic", "游ゴシック体";
    height: 50px;
    width: 200px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: #0D0D0D;
  }
  //ヘッダー右側のメニューフォーム
  .menu{
    height: 50px;
    width: 330px;
    display: flex;
    justify-content: space-around;
    line-height: 50px;
    text-align: center;
    &__main{
      height: 100%;
      width: 150px;
      font-size: 20px;
      text-decoration: none;
      color: #0D0D0D;
      &__link{
        cursor : zoom-in;
        background-color: #595959; 
        color: white;              
        line-height: 40px;         
        text-align: center;        
        text-decoration: none;     
        font-weight: bold;         
        display: block;            
      }
      &__link:hover{ //カーソルを合わせた時に色を変更する
        background-color: #595959; 
        color: #dd0000;            
      }
      &__sub{
        background-color: #CCCCCC;
        margin: 0px;        
        padding: 0px;       
        position: absolute; 
        display: none;      
        &__list{
          width: 135px;     
          &__link{
            border-top: 1px solid #D5EDD9;
            display: block;
            color: white;
            text-decoration: none;
            line-height: 35px;   
            text-align: left;    
            padding-left: 5px;   
            font-weight: normal; 
          }
          &__link:hover{  //カーソルを合わせた時に色を変更する
            background-color: #ffff80; 
            color: #005500;            
          }
        }
      }
    }
  }
}

//メインのビュー部分
.main{
  height: calc(100vh - #{$header-height});
  width: 100vw;
  background-color: #F2F2F2;
  overflow: scroll;
  //単語登録フォーム
  .form{
    list-style: none;
    width: 400px;
    height: 200px;
    padding: 10px 0 10px 50px;
    &__word{
      width: 100%;
      margin-top: 10px;
      padding: 0 5px;
    }
    &__mean{
      width: 100%;
      margin-top: 10px;
      padding: 0 5px;
    }
    &__submit{
      align-items: center;
      padding-top: 10px;
      width: 60px;
    }
    &__delete{
      float: right;
      color: red;
    }
  }
  //単語一覧
  .word{
    width: 80%;
    margin: 10px 0 10px 50px;
    &__title{
      border-bottom: solid 2px;
      font-size: large;
    }
    &__name{
      text-decoration: none;
      color: black;
    }
    &__rare{
      text-align: center;
    }
  }
  //ガチャ画面
  .gacha{
    font-size: 500%;
    text-align: center;
    height: calc(100% - 40px);
    &__list{
      padding-top:20px ;
      height: 180px;
      &__link3{
        text-decoration: none;
        color: #677575;
        border: solid 2px;
        padding: 15px 10px;
        border-radius: 10px;
      }
      &__link3:hover{ //カーソルを合わせた時に色を変更する
        background-color: #D8F5F5;  
      }
      &__link5{
        text-decoration: none;
        color: #677575;
        border: solid 2px;
        padding: 15px 10px;
        border-radius: 10px;
      }
      &__link5:hover{ //カーソルを合わせた時に色を変更する
        background-color: #D8F5F5;
      }
      &__link10{
        text-decoration: none;
        color: #677575;
        border: solid 2px;
        padding: 15px 10px;
        border-radius: 10px;
      }
      &__link10:hover{ //カーソルを合わせた時に色を変更する
        background-color: #D8F5F5;
      }
    }
  }
  //ランダム問題画面
  .random{
    &__name{
      font-size: large;
      color: lightcoral;
    }
    &__mean--hide{
      display: none;
    }
  }
}





// .side_bar{
//   height: calc(100vh - #{$header-height});
//   width: 220px;
//   overflow: scroll;
//   background-color: #8C8C8C;
//   &__name{
//     font-size: 30px;
//     text-align: center;
//     padding: 20px 0 20px 0;
//   }
//   .deck{
//     height: 80px;
//     margin: 10px;
//     padding: 10px;
//     &__name{
//       font-size: 18px;
//     }
//     &__word{
//       font-size: 13px;
//       padding-left: 9px;
//     }
//   }
// }
