// 変数の宣言
$header-height: 80px;

.header{
  height: $header-height;
  width: 100vw;
  background-color: #595959;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  .title{
    font-family:"Yu Gothic", "游ゴシック", "YuGothic", "游ゴシック体";
    height: 50px;
    width: 200px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: #0D0D0D;
  }
  .menu{
    height: 50px;
    width: 330px;
    display: flex;
    justify-content: space-around;
    line-height: 50px;
    text-align: center;
    &__main{
      height: 100%;
      width: 150px;
      font-size: 20px;
      text-decoration: none;
      color: #0D0D0D;
      &__link{
        cursor : zoom-in;
        background-color: #595959; /* メニュー項目の背景色(濃い赤色) */
        color: white;              /* メニュー項目の文字色(白色) */
        line-height: 40px;         /* メニュー項目のリンクの高さ(40px) */
        text-align: center;        /* メインメニューの文字列の配置(中央寄せ) */
        text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
        font-weight: bold;         /* 太字にする */
        display: block;            /* ★項目内全域をリンク可能にする */
      }
      &__link:hover{
        background-color: #595959; /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
        color: #dd0000;            /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
      }
      &__sub{
        background-color: #CCCCCC;
        margin: 0px;        /* ★サブメニュー外側の余白(ゼロ) */
        padding: 0px;       /* ★サブメニュー内側の余白(ゼロ) */
        position: absolute; /* ★絶対配置にする */
        display: none;      /* ★標準では非表示にする */
        &__list{
          width: 135px;               /* サブメニュー1項目の横幅(135px) */
          &__link{
            border-top: 1px solid #D5EDD9; /* 項目上側の枠線(ピンク色で1pxの実線) */
            display: block;
            color: white;
            text-decoration: none;
            line-height: 35px;   /* サブメニュー1項目の高さ(35px) */
            text-align: left;    /* 文字列の配置(左寄せ) */
            padding-left: 5px;   /* 文字列前方の余白(5px) */
            font-weight: normal; /* 太字にはしない */
          }
          &__link:hover{
            background-color: #ffff80; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
            color: #005500;            /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
          }
        }
      }
    }
  }
}
// .header-menu {
//   margin: 0px;               /* メニューバー外側の余白(ゼロ) */
//   padding: 0px 0px 0px 15px; /* メニューバー内側の余白(左に15px) */
//   background-color: #cc0000; /* バーの背景色(濃い赤色) */
//   &__main{
//     width: 125px;          /* メニュー項目の横幅(125px) */
//     display: inline-block; /* ★横並びに配置する */
//     list-style-type: none; /* ★リストの先頭記号を消す */
//     position: relative;    /* ★サブメニュー表示の基準位置にする */
//     &__link{
//       background-color: #cc0000; /* メニュー項目の背景色(濃い赤色) */
//       color: white;              /* メニュー項目の文字色(白色) */
//       line-height: 40px;         /* メニュー項目のリンクの高さ(40px) */
//       text-align: center;        /* メインメニューの文字列の配置(中央寄せ) */
//       text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
//       font-weight: bold;         /* 太字にする */
//       display: block;            /* ★項目内全域をリンク可能にする */
//     }
//     &__link:hover{
//       background-color: #ffdddd; /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
//       color: #dd0000;            /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
//     }
//     &__sub{
//       background-color: #cc0000;
//       margin: 0px;        /* ★サブメニュー外側の余白(ゼロ) */
//       padding: 0px;       /* ★サブメニュー内側の余白(ゼロ) */
//       position: absolute; /* ★絶対配置にする */
//       display: none;      /* ★標準では非表示にする */
//       &__list{
//         width: 135px;               /* サブメニュー1項目の横幅(135px) */
//         &__link{
//           border-top: 1px solid pink; /* 項目上側の枠線(ピンク色で1pxの実線) */
//           display: block;
//           color: white;
//           text-decoration: none;
//           line-height: 35px;   /* サブメニュー1項目の高さ(35px) */
//           text-align: left;    /* 文字列の配置(左寄せ) */
//           padding-left: 5px;   /* 文字列前方の余白(5px) */
//           font-weight: normal; /* 太字にはしない */
//         }
//         &__link:hover{
//           background-color: #ffff80; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
//           color: #005500;            /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
//         }
//       }
//     }
//   }
// }

.side_bar{
  height: calc(100vh - #{$header-height});
  width: 220px;
  overflow: scroll;
  background-color: #8C8C8C;
  &__name{
    font-size: 30px;
    text-align: center;
    padding: 20px 0 20px 0;
  }
  .deck{
    height: 80px;
    margin: 10px;
    padding: 10px;
    &__name{
      font-size: 18px;
    }
    &__word{
      font-size: 13px;
      padding-left: 9px;
    }
  }
}

.main{
  height: calc(100vh - #{$header-height});
  width: 100vw;
  background-color: #F2F2F2;
  overflow: scroll;
  .form{
    list-style: none;
    width: 400px;
    height: 200px;
    padding: 10px 0 10px 50px;
    &__word{
      width: 100%;
      margin-top: 10px;
      padding: 0 5px;
    }
    &__mean{
      width: 100%;
      margin-top: 10px;
      padding: 0 5px;
    }
    &__submit{
      align-items: center;
      padding-top: 10px;
      width: 60px;
    }
  }

  .word{
   width: 80%;
   margin: 10px 0 10px 50px;
   &__rare{
     text-align: center;
   }
  }
}

